.floatElement{
  float: left;
  width: 100px;
  height: 100px;
  background: red;
}
.nomalElement{
  width: 200px;
  height: 50px;
  background: yellow;
}

/* 方法1 */

/* 
.floatContainer{
  overflow: hidden;
}
*/

/* 方法2 */


.floatContainer::after{
  clear: both;
  content: '';
  display: block;
}


/* 方法3 */

/* 
.otherElement{
  clear: both;
}
*/
